@import '../../style/Variables.scss';

.file-reader{
    height: inherit;
    width: calc(100vw - 20.3rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 3fr;
    
    .input{
        // transform: translate(50% , 50%);
        #file{
            display: none;
        }

        label{
            display: inline-block;
            height: 36px;
            border: 2px solid $color-white;
            border-radius: 6px;
            padding: 0.1rem 0.4rem;
            background-color: $color-success;
            font-size: 1.2rem;
            color: $color-white;
            font-weight: 300;
            text-transform: capitalize;
            cursor: pointer;
            @include flex-center;
            @include transition-all-2mili-sec;
            
            &:active{
                transform: scale(0.9);
            }
            &:hover{
                box-shadow: $bottom-shadow;

            }
        }
    }

    .content{
        background-color: $color-white;
        height: 100%;
        padding: 2rem 1rem;
        border: 1px solid $color-dark;
        overflow: scroll;
        position: relative;
        
        span{
            display: inline-block;
            width: 10rem;
            padding: 0.5rem;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.2rem;
            color: $color-white;
            background-color: $color-dark-variant;
            border-radius:0 0 0 $border-radius-1;
        }
        pre{
            line-height: 2rem;
            font-size: 1.3rem;

            .not-select-file{
                width: 100%;
                height: 100%;
                @include flex-center;
            }
        }
    }
    @media (max-width: $small-devices){
        width:100dvw;
    }

}